*.pyc
*.fif
*.pdf
.DS_Store
data
.vscode
*.code-workspace
docs/site/
docs/source/examples/*
!docs/source/examples/gen_examples.py
.pytest_cache/
__pycache__/
.dask-worker-space/
mprofile_*.dat
.joblib_cache/
dist/
mne_bids_pipeline.egg-info/
build/
.hypothesis/
.coverage*
junit-results.xml
