Alexandre Gramfort <alexandre.gramfort@m4x.org> Alexandre Gramfort <agramfort@fb.com>
Apolline Mellot <apolline.mellot@inria.fr> apmellot <81578853+apmellot@users.noreply.github.com>
Apolline Mellot <apolline.mellot@inria.fr> Apolline Mellot <81578853+apmellot@users.noreply.github.com>
Izem Mangioni <43759840+Izem0@users.noreply.github.com> Izem0 <43759840+Izem0@users.noreply.github.com>
Kambiz Tavabi <ktavabi@gmail.com> Kambiz Tavabi <ktavabi@uw.edu>
Merlin Dumeur <38875041+MerlinDumeur@users.noreply.github.com> MerlinDumeur <38875041+MerlinDumeur@users.noreply.github.com>
