Alexandre Gramfort <alexandre.gramfort@m4x.org> Alexandre Gramfort <agramfort@fb.com>
Apolline Mellot <apolline.mellot@inria.fr> apmellot <81578853+apmellot@users.noreply.github.com>
Apolline Mellot <apolline.mellot@inria.fr> Apolline Mellot <81578853+apmellot@users.noreply.github.com>
Izem Mangioni <43759840+Izem0@users.noreply.github.com> Izem0 <43759840+Izem0@users.noreply.github.com>
Joan Massich <mailsik@gmail.com> Joan Massich <sik@visor.udg.edu>
Kambiz Tavabi <ktavabi@gmail.com> Kambiz Tavabi <ktavabi@uw.edu>
Mainak Jas <mainakjas@gmail.com> Mainak Jas <jasmainak@users.noreply.github.com>
Máté Aller <Mate.Aller@mrc-cbu.cam.ac.uk> Máté Aller <allermat@gmail.com>
Merlin Dumeur <38875041+MerlinDumeur@users.noreply.github.com> MerlinDumeur <38875041+MerlinDumeur@users.noreply.github.com>
