typing_extensions
numpy
scipy
dask[distributed]
scikit-learn
pandas
json_tricks
h5py
matplotlib
seaborn
nibabel
coloredlogs
python-picard
fire
pyqt5
pyvistaqt
autoreject
openpyxl
pooch
mne @ https://api.github.com/repos/mne-tools/mne-python/zipball/main
mne-bids @ https://api.github.com/repos/mne-tools/mne-bids/zipball/main
