typing_extensions
datalad<0.14
numpy
scipy
scikit-learn
pandas
json_tricks
matplotlib
seaborn
nibabel
coloredlogs
python-picard
fire
pyqt5
pyvista
pyvistaqt
pip
mkdocs
mkdocs-material
mkdocs-material-extensions
mkdocstrings
coloredlogs
http://github.com/hoechenberger/openneuro-py/zipball/timeouts
https://api.github.com/repos/mne-tools/mne-python/zipball/main
https://api.github.com/repos/mne-tools/mne-bids/zipball/main
