name: autofix.ci

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uv sync --locked
      - run: uv lock
      - run: uv run lefthook run pre-commit --all-files
      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
        if: failure() || success()
