name: Style and doc
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true

on: [push, pull_request]

jobs:
  check-style:
    name: Check style
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v3
    - uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
    - name: Conda info
      run: conda info
    - name: Conda list
      run: conda list
    - name: Install flake8
      run: conda install -y flake8
    - name: Lint scripts with flake8
      run: make flake-code
    - name: Lint config.py with flake8
      run: make flake-config
    - name: Install codespell
      run: pip install codespell
    - name: Run codespell
      run: make codespell-error
  check-doc:
    name: Check config doc
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v4
    - run: pip install pytest
    - run: pytest -ra -vv tests/
